
  <footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <a target="_blank" 
             href="https://www.creative-tim.com/product/black-dashboard-django" class="nav-link">
             BE Project 2021
          </a>
        </li>
      </ul>
      <div class="copyright">
        &copy; <a target="_blank">BE17F04F007, 11, 25, 32</a>
               <a target="_blank">Under guidance of Prof. Shital Gundre</a>.
      </div>
    </div>
  </footer>
